---
import SiteLayout from '../layouts/Layout.astro';
---

<SiteLayout>
    <div class="Name">
        <p>
            <img src="./src/Img/Placeholders/LogoPlaceholder.png" class="Logo">
        </p>
        <p>WeConnect+</p>
    </div>
    <div class="BoxUnder">
        <div class="Login">
            <p>Lets <span class="Connect">Connect</span></p>
            <p>
                <input>
            </p>
            <p>
                <input>
                <p>
                    <span class="Pass">Forgot Password? </span><a class="Click" href="https://www.youtube.com/watch?v=vpX67n9zJVk">Click Here</a>
                </p>
            </p>
            
        </div>
    </div>
    <style>
        body {
            background-color: #3db086;
            text-align: center;
            color: white;
        }

        .Connect {
            text-decoration: underline;
        }

        .Pass {
            color: black;
        }

        .Click {
            color: white;
            text-decoration: none;
        }

    </style>
</SiteLayout>

