---
import SiteLayout from '../layouts/Layout.astro';
---
<SiteLayout>

<div class="content">
	<div class="NATUNDER">
	<img src="./src/Img/Placeholders/Placeholder.png" class="Image"/>
		<div class="NATOVER">
		<h1>NAME (AGE)</h1>
		<p>WeConnect Through:</p>
		<p class="tags">Placeholder tag <img src="./src/Img/Placeholders/Placeholder2.gif"/></p>
		</div>
	</div>
	<div class="ABT">
		<p>
			<h3>About Me:</h3>
			<p>PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER </p>
		</p>
	</div>
	<div class="LCT">
		<button class="LCB">Lets Chatter</button>
	</div>
</div>
</SiteLayout>
