---
import SiteLayout from '../layouts/Layout.astro';
---
<SiteLayout>
    <div class="title">
        <h1 class="text">Settings</h1>
    </div>



    <style>
        .title{
            color: #000;
        }
    </style>
</SiteLayout>